* {
  margin: 0;
  padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -moz-linear-gradient(top, #cce6ff 0%, #b3daff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce6ff), color-stop(100%,#b3daff));
  background: -webkit-linear-gradient(top, #cce6ff 0%,#b3daff 100%);
  background: -o-linear-gradient(top, #cce6ff 0%,#b3daff 100%);
  background: -ms-linear-gradient(top, #cce6ff 0%,#b3daff 100%);
  background: linear-gradient(to bottom, #cce6ff 0%,#b3daff 100%);
  --color-primary: #2d8cf0;
  --color-light-primary: #5cadff;
  --color-dark-primary: #2b85e4;
  --color-info: #2db7f5;
  --color-success: #19be6b;
  --color-warning: #ff9900;
  --color-error: #ed4014;
  --color-title: #17233d;
  --color-content: #515a6e;
  --color-sub-color: #808695;
  --color-disabled: #c5c8ce;
  --color-border: #dcdee2;
  --color-divider: #e8eaec;
  --color-background: #f8f8f9;
}

#app {
  padding: 20px 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.pr-height-full {
  height: 100%;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}